<div class="summary-container">
    <h2><strong>Summary</strong></h2>
    <h4>Energy Source Distribution</h4>
    <canvas id="summaryChart"></canvas>
    <p>The chart above displays the current share of energy production in the US. The figures above represent the percentage that each category is responsible for producing in regards to total US energy production. It is good to see that renewable sources are beginning to take up a signifigant portion of US energy production. With recent developments one could only hope that this portion grows.</p>
    <h4>Source</h4>
    <p>https://www.eia.gov/tools/faqs/faq.php?id=427&t=3</p>
  </div>